
*.xcuserstate
*.xcuserstate
Memoarrr/Memoarrr.xcodeproj/project.xcworkspace/xcuserdata/yang1.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
*.xcuserstate
*.xcbkptlist
*.xcuserstate
.DS_Store
